/* h1{ 
color: red;
background-color: blue;
} */

html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.first-title{
color: aqua;
background-color: rgb(20, 0, 74);
width: 50%;
height: 20%;
}

.second-title{
    color: rgb(86, 200, 58);
    background-color: rgb(20, 37, 95);
    }

.small-title{
font-size: small;
}

/* .div-contenitore h1{
    background-color: bisque;
}

.first-title, .second-title, .small-title{
border-style: dotted;

} */

.container-div{
background-color: rgb(0, 191, 191);
width: 500px;
height: 150px;

margin: 135px 50px 135px 50px;
}

.sub-title{
    background-color: rgb(74, 212, 0);
    width: 50%;
}

.long-title{
    background-color: darkolivegreen;
    width: 50%;
    /* [min-width: 500px;] */
    height: 70px;
    /* overflow: hidden; */
    overflow: auto;

}

